.body{
    display: flex;
}
.parent{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    gap: 5px;
   
}
.header{
    grid-column: 1/3;
}

.parent>div{
     border: 2px solid brown;
}
.main{
    grid-column: 2/3;
    grid-row: 2/3;
}
.footer{
    grid-column: 1/3;
}
.sidebar{
    grid-row: 2/3;
}